torch
torchvision
numpy
opencv-python
Pillow
tqdm

# Dataset preprocessing
mediapipe
datasets
huggingface_hub

# Training + evaluation
scikit-learn
matplotlib
seaborn

# Benchmark logger
psutil
nvitop
